{% extends 'base.html.twig' %}

{% block title %}Mon compte - la boutique Tunisienne{% endblock %}

{% block content %}
    <h1>Mon compte</h1>

    Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>    
    <a href="{{ path('account_address') }}">Gérer Mes Addresses </a>
    - Mes commandes 

{% endblock %}
