body {
    position: relative;
}

.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

.footer-costum{
    text-align: center;
    position: fixed;
    width: 100%;
    bottom:0;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 50px;


}