{% extends 'base.html.twig' %}

{% block title %}Valider ma  commandes - La boutique Tunisienne{% endblock %}

{% block content %}
    <h2>Je passe ma commandes</h2>
    <p>Choisissez vos préferences avant de passer votre commandes sur la boutique Tunisienne</p>
    <hr>

{% endblock %}
